---
const padding = "10px";
---
<div id="main-menu" class="nav-links">
    <a style={`padding: ${padding}`} href="/">Home</a>
    <a style={`padding: ${padding}`} href="/about">About</a>
    <a style={`padding: ${padding}`} href="/blogs">Blog</a>
</div>